main {
  background-image: url(./images/Header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-brand {
  color: #6070ff;
}
.btnButton {
  color: #7f8cff;
  padding-left: 0;
}
.mx-1 {
  color: #505f79;
}

.bg-info {
  background-color: #6070ff;
}

.tech {
  display: flex;
  background-color:#EBEBFF;
  color:#6070ff;
  text-decoration: none;
}

.recent_work {
  background-color: #e6e2e2;
}